.App {
    transform: translateX(-50%);
    width: 800px;
    position: relative;
    left: 50%;
    background-color: #24bbbb;
    margin-top: 20px;
    border-radius: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-family: 'Roboto';
    font-size: 14px;
}

.block {
    width: 100px;
    height: 100px;
    background-color: yellow;
}